<!DOCTYPE html>
<html>
<head>
  <title>GESSimpleApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <% if username.present?%>
    Hello, <%= username %>
    <%= link_to "Log out", "/welcome/logout" %>
  <%else%>
    <%= link_to "Log in", login_url %>
  <% end %>
</div>


<%= yield %>

</body>
</html>
